body {
  margin: 0;
  font-family: "Source Han Sans JP", sans-serif;
  background: #f3f4f6;
  color: #10223a;
}

/* 見出し */
h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

/* ボタン */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* note */
.note {
   margin: 2em auto; /* 外側余白 */
   padding: 2em; /* 内側余白 */
   background-image: 
   linear-gradient(0deg, transparent 19px, #d3d3d3 20px), /* 横のグラデーション */
   linear-gradient(90deg, transparent 19px, #d3d3d3 20px); /* 縦のグラデーション */
   background-size: 20px 20px; /* 方眼のサイズ */
   max-width: 800px; /* 最大幅 */
}

/* ボックス内の段落 */
.cstm-box-grid p { margin:0; }


